{
	"Users":[
				{
					"name": "compal",	  
					"account": "compaladmin",
					"password": "super123456",
					"role": 1000
				},
				{
					"name": "AD",	  
					"account": "admin",
					"password": "super123456",
					"role": 1000
				},			
				{
					"name": "operater",	  
					"account": "operater",
					"password": "Aa123456",
					"role": 100
				}			
			],
	"LoopUsers":[
		{
			"count": 8,	
			"name": "player",	  
			"account": "player",
			"password": "p123456",
			"role": 0
		},
		{
			"count": 8,	
			"name": "test",	  
			"account": "test",
			"password": "p123456",
			"role": 1
		}
	]

	
}