{
	"DB":{	  
			"server": "127.0.0.1",
			"port": "3007",
			"database": "xr_cube",
			"username": "root",
			"password": "Aa123456",
			"parameter":{
				"charset": "utf8",
				"parseTime": "True",
				"loc": "Local"
			}	,		
			"maxidleconns": 5,
			"maxopenconns": 5,
			"connmaxlifetime": 90
	}	
}